<div class="container">
    <div>
        <h2 class="text-center">Edit Book</h2>
    </div>
    <br>

    <div>
        <form class="new_entry" action="/books" method="POST" enctype="multipart/form-data">
           
            <div class="mb-3">
                <label style="width: 100%;" for="">Book Title</label>
                <input style="width: 100%;" type="text" name="title" value="<%=book.title %>" required >
            </div>
            <br>
            <div class="mb-3">
                <label style="width: 100%;" for="">Author</label>
                <input style="width: 100%;" type="text" name="author" value="<%=book.author %>" required >
                     
            </div>
            <br>
            <div class="mb-3">
                <label style="width: 100%;" for="">Genre</label>
                <input style="width: 100%;" type="text" name="genre" value="<%=book.genre %>" required >
                     
            </div>
            <br>
            <div class="mb-3">
                <label style="width: 100%;" for="">Published Date</label>
                <input style="width: 100%;" type="date" name="date" value="<%=book.date %>" required >
                     
            </div>
            <br>
            <div class="mb-3 ">
                <label style="width: 100%;" for="" class="form-label">Image</label>
                <input style="width: 100%;" type="file" name="image" value="<%=book.image %>" required  >

            </div>
            <br>
            <div class="row">
                <div class="col-6 text-start">
                    <a href="/books"> Cancel</a>
                </div>
                <div class="col-6 text-end">
                    <button type="submit" class="btn ">Update</button>
                </div>
            
        
            </div>
        </form>


    </div>
    

</div>





